body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(83, 55, 56, 1);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #533738;
    text-decoration: none;
}

a:hover {
    color: #cc8b86;
}

a:focus {
    color: #99544f;
}

.button {
  display: inline-block;
  padding: 26px 69px;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(83, 55, 56, 1);
  background-color: rgba(204, 139, 134, 1);
  text-decoration: none;
  border: none;
}

.button:hover {
    color: #cc8b86;
    border-color: white;
    background-color: white;
}

.button:focus {
    color: #99544f;
    border: 2px solid #99544f;
    background-color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-1040 {
  width: 1040px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  line-height: 62px;
  color: #533738;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 50px;
  color: #533738;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}

/*==============================================*/

.page {
  display: grid;
  grid-template-rows:
    auto
    1fr
    auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  min-height: 100vh;
}

.page-header {
  grid-area: header;
}

.page-content {
  grid-area: content;
  background-color: #E5E5E5;
}

.page-footer {
  grid-area: footer;
  background-color: #E5E5E5;
}

.page-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(83, 55, 56, 1);
}

.page-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 26px;
}

.logo {
  padding: 35px 0 90px 0;
  text-decoration: none;
  color: #533738;
}

.site-nav {
  padding: 35px 0 90px 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-nav-item {
  padding-right: 26px;
}

.site-nav-item:last-child {
  padding-right: 0;
}

.nav-phone {
  padding: 37px 0 90px 0;
  text-decoration: none;
  color: #533738;
}

.promo-back {
  background-image: url("../img/promo.jpg");
}

.promo {
  padding-bottom: 168px;
}

.promo-text {
    width: 56%;
}

.promo-description {
  width: 75%;
}

.about {
  padding-top: 65px;
  padding-bottom: 20px;
}

.half-wrap {
  display: flex;
}

.about-img {
  align-self: flex-start;
  margin-right: 64px;
}

.text-wrap {
  width: 50%;
}

.text-wrap p {
  margin-top: 0;
  margin-bottom: 29px;
}

.feautures {
  padding-top: 85px;
  padding-bottom: 80px;
  color: white;
  background-color: #8D7370;
}

.feautures-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feautures-item {
  text-align: center;
}

.feautures-item span {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
}

.feautures-item p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.works {
  padding-top: 65px;
  padding-bottom: 65px;
}

.works .section-heading {
  text-align: left;
}

.works-grid {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.works-item {
  position: relative;
}

.works-item:nth-child(4n + 2) {
    grid-column: 2 / -1;
}

.works-item:nth-child(4n + 3) {
    grid-column: 1 / 3;
}

.works-item:nth-child(4n + 4) {
    grid-column: 3 / -1;
}

.works img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    box-sizing: border-box;
    padding-top: 86px;
    padding-right: 35px;
    padding-left: 35px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(100, 72, 69, 0.5);
}

.works-item:hover .works-hover {
  z-index: 2;
}

.works-heading {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 270px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.works-text {
    display: -webkit-box;
    overflow-y: hidden;

    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.more {
    display: block;
    margin-top: 37px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.more svg {
    margin-left: 10px;
}

.more:hover path {
    fill: #cc8b86;
}

.more:focus path {
    fill: #99544f;
}

.team {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #e2c4ba;
}

.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  list-style: none;
}

.team-item {
  margin-bottom: 20px;
  width: 31%;
}

.team img {
  display: block;
  margin-bottom: 10px;
}

.team-text {
  margin: 0;
}

.process-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.process-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 25%;
}

.process-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8d7370;
    color: white;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.process-item p {
  margin: 0;
  text-align: center;
}

.feedback {
  padding-top: 65px;
  padding-bottom: 65px;
}

.feedback-slider {
  position: relative;
  padding-right: 100px;
  padding-left: 100px;
}

.feedback-pagination {
    position: absolute;
    top: 48%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
}

.feedback-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 68px;
    height: 68px;
    border: 2px solid #cc8b86;
    border: none;
    border-radius: 50%;
    background-color: #cc8b86;
}

.feedback-button:hover {
    background-color: white;
}

.feedback-button:hover path,
.feedback-button:focus path {
    fill: #cc8b86;
}

.feedback-button:focus {
    border: 2px solid #cc8b86;
    background-color: white;
}

.feedback-button-prev svg {
    transform: rotate(180deg);
}

.feedback-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.feedback-slide {
  display: none;
}

.feedback-slide:first-child {
  display: grid;
}

.feedback-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-text p {
  margin-top: 0;
  margin-bottom: 30px;
}

.feedback-text p:last-child {
    margin-bottom: 0;
}

.feedback-author {
    margin-bottom: 0;
    text-transform: uppercase;
}

.feedback-images img {
    display: block;
    margin-bottom: 24px;
}

.feedback-images img:last-child {
    margin-bottom: 0;
}

.form {
    background-color: #8d7370;
    color: white;
}

.form .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-wrap {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 82px;
}

.form-wrap .section-heading {
    margin-bottom: 24px;
    text-align: left;
    color: white;
    margin-left: -70px;
}

.form-text {
    margin-bottom: 34px;
}

.form-action p {
    position: relative;
    margin: 0;
    margin-bottom: 24px;
}

.text-input {
    display: block;
    padding-top: 10px;
    padding-bottom: 13px;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

.text-input:focus + .input-label,
.text-input:valid:not(:placeholder-shown) + .input-label {
    bottom: 40px;
    transition: 0.2s ease-in;
}

.input-label {
    position: absolute;
    bottom: 11px;
    left: 0;
    transition: 0.2s ease-in;
}

.submit-button {
    margin-top: 7px;
}

.map {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.page-footer .container {
    display: flex;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 37px;
}

.page-footer .phone {
    font-size: 18px;
    line-height: 30px;
}

.address {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 42px;
}

.copyright {
    margin: 0;
}



/*
.footer-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px 0 37px 0;
}
